@font-face {
  font-family: opensans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: opensans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}

body {
  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: opensans, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.header {
  padding: 20px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 0;
  color: #fff;
  text-align: center;
  font-weight: 700;

  /*   width: 1660px;
  height: 450px; */
  /*   width: 100%; */
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.45;
  z-index: -1;
}

/* ------------------------------фон и сам банер */

.menu {
  display: flex;
  justify-content: space-around;
}

.header-logo {
  width: 179px;
  height: 41px;
}

.menu-list {
  list-style: none;
  display: flex;
}

.menu-link {
  text-decoration: none;
  color: inherit;
  margin: 0 20px; /*35 по бокам*/
  font-size: 13px;
}

.menu-link:hover {
  text-decoration: underline;
}

.main__title {
  width: 688px; /*680px;---по линейке*/
  font-size: 45px;
  margin: 87px auto;

  /*   margin-left: auto;
  margin-right: auto; */
  /*   margin-top: 110px; */
  /*   margin: auto; */
}

/* -----------------шапка готова на глаз вроде бы */

.main {
  display: flex;
  margin: 64px auto; /*230много*/
  font-family: opensans, Ariel, sans-serif;
  width: 1170px;
  padding: 0 15px;
  /*position: relative; /*------------для асиде дописал*/
/*   position: absolute; */


  border: 1px solid lightblue;

/*     width: 800px; */
  /*   margin-top: 50px;
  margin-left: auto;
  margin-right: auto; */
  /*   padding: 50px; */
}

/* --------------------общие параметры главного блока */

.posts {
  min-width: 780px;
  margin-left: 15px;

  border: 1px solid grey;
  width: 650px; /*792 и ещё 120 для отездасоседнего элемента*/
  /*   display: flex; */
  /*   flex-direction: row; */
  /*   min-height: 295px; */
/*   position: relative; */
}

.post {
  display: flex;
  justify-content: center;

  /*   border: 1px solid red; */
  /*   width: 100%; /*780*/
  /*   align-items: top; */
}

.picture {
  width: 380px; /*380*/
  height: 295px; /*294*/
  float: left;
  margin-right: 20px; /*20 между картинкой и текстом*/
  margin-bottom: 60px;
}

.news__tegs {
  list-style: none;
  display: flex;
  justify-content: top; /*тут надо подумать*/
  padding-left: 0;
  margin-top: 0;
  /*   display: inline-block; */
}

/* .news__tegs__item {
  display: inline;
} */

.tegs {
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  color: #b59f5b;
  padding-right: 10px;
}

.tegs:hover {
  text-decoration: underline;
}

.post__title {
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
}

.post__title:hover {
  color: #969080;
}

.title__link {
  text-decoration: none;
  color: inherit;
}

.autor__data {
  font-size: 12px;
  line-height: 40px;
  font-weight: 700;
}

.main__text {
  font-size: 15px;
  line-height: 22px;
}

.date {
  font-size: 12px;
  line-height: 40px;
  color: #888888;
  padding-right: 10px;
}

/* --------------------параметры левой части */

.new__posts {
  margin-left: 120px;
  margin-right: 15px;
  width: 275px;

  /*   flex-direction: column; */
  /*   min-width: 300px; */
  border: 1px solid #008b8b;

  /*height: 2000px; /*------------для асиде дописал*/

/*   position: relative; */
}

.left__title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.new__posts > h4 {
  margin-top: 0;
  /*да, так себе вариант,
  но nht-child не работает потому что
  класс общий для нескольких тэгов*/
}

.left__title::after {
  content: "";
  display: block;
  width: 66px;
  margin: 10px auto;
  border-bottom: 3px solid #b59f5b;
}

.new__post {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 275px;

  /*   height: 70px; */
  /*   margin-top: 20px; */
  /*   margin-bottom: 10px; */
  /*   background-color: pink; */
  /*   border: 1px solid blue; */
}

.mini_picture {
  width: 70px; /*70*/
  height: 70px; /*70*/
  float: left;
  margin-right: 20px; /*20*/

  /*   margin-bottom: 20px;  может оно и не надо*/
}

.additional__text {
  font-size: 14px;
  line-height: 18px;
  margin: 0;

  /*   padding: 0; */
}

.additional__text:hover {
  color: #534c3a;
}

/* -----------------------------дополнительный блок */

.aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
/*   margin-top: 60px; */

  border: 1px solid green;

  /*------------для асиде дописал*/
  width: 275px;
  /*position: relative; */
/*   position: absolute; */
/*   right: 0; */
/*   top: 0;
  left: 0; */

/*   top: -1900px; */
/*   left: 980px; */

/*   margin-left: auto; */
/*   margin-right: 64px; */
/*------------для асиде дописал*/
}

.field {
  box-sizing: border-box;
  width: 220px;
  height: 50px;
  background-color: #f4f7f6;
  border: none;
  padding-left: 20px;
  outline: none;
}

.field:focus {
  border-right: 1px solid #fbf9f5;
  border-bottom: 1px solid #ebe7d7;
}

.button {
  border: none;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  background-color: #b59f5b;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;

  position: relative;
  bottom: 5px;
  right: 5px;
}

.email {
  box-sizing: border-box;
  background-color: #f4f7f6;
  width: 275px;
  height: 50px;
  padding-left: 20px;
  border: none;
  outline: none;
}

.email:focus {
  border-right: 1px solid #fbf9f5;
  border-bottom: 1px solid #ebe7d7;
}

.button__sub {
  box-sizing: border-box;
  margin-top: 17px;
  width: 275px;
  height: 50px;
  background-color: #b59f5b;
  font-size: 14px;
  line-height: 40px;
  color: #fff;
  cursor: pointer;
  border: none;
}

.teg__box {
  text-align: left;
}

.additional__teg {
  border: 1px solid #eeeeee;
  border-width: 2px;
  padding: 7px 12px;
  color: inherit;
}

.additional__teg:hover {
  text-decoration: none;
  color: #9a9a9a;
}

.thems {
  width: 100%;

  /*   height: 180px; */
/*   border: 1px solid blue; */
}

.menu-list__thems {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

.menu-link__thems {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.menu-link__thems:hover {
  color: #847d6c;
}

.for__after::after {
  content: "";
  display: block;
  width: 271px;
  margin: 15px 0 15px 0;
  border-bottom: 1px solid #eeeeee;
}

.super {
  vertical-align: super;
  color: #b59f5b;
  font-weight: 700;
}

.up {
  text-transform: uppercase;
  font-weight: 700;
}

/* -----------------------конец основной части */

.footer {
  width: 1170px;
  text-align: center;
  margin: 0 auto;
  padding: 0 15px;

  /*   margin: 64px; */
}

.social {
  margin-left: auto;
  margin-right: auto;
  background-color: #f4f7f6;

  /*   margin-top: 50px; */
  /*   height: 83px; */
}

.social__icon {
  padding: 30px;
  width: 24px;
  height: 24px;
}

address > a {
  /*да внезпно, но нехотелось писать ещё один класс для бесячих чёрточек*/
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.copyright {
  box-sizing: border-box;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;

  /*   height: 83px; /*74*/
  /*   background-color: pink; */
}

.cop {
  text-decoration: none;
  color: #888888;
}
