@font-face {
  font-family: opensans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;

/*   font-family: opensans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold; */
}

/* body {
  margin: 0;
} */

.main__banner {
/*   width: 1000px; */
  width: 100%;
  height: 450x;
  padding: 20px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 0;

/*   text-transform: uppercase;  делал в рамках другой концепции*/

  color: #fff;
  text-align: center;
}

.main__banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.45;
  z-index: -1;
}

/* ---------------------------------------------------фон и сам банер */

.banner_items {
  display: flex;
  justify-content: space-around;
  font-family: opensans, Ariel, sans-serif;
/*   justify-content: center; */
}

.header-logo {
  width: 179px;
  height: 41px;

}

.menu-list {
  list-style: none;
  display: flex;
}

.menu-link {
  text-decoration: none;
  color: inherit;
  margin: 0 35px;
  font-size: 13px;
}

.main__title {
  width: 680px;
  font-size: 45px;
  margin-left: auto;
  margin-right: auto;
}

/* ---------------------------------------шапка готова на глаз вроде бы */

.main {
  display: flex;
  margin: 61px;
  font-family: opensans, Ariel, sans-serif;
  /*   width: 800px; */
/*   margin-top: 50px;
  margin-left: auto;
  margin-right: auto; */
/*   padding: 50px; */
}

/* --------------------------------------общие параметры главного блока */

.posts {
/*   border: 2px solid grey; */
/*   width: 650px; /*792 и ещё 120 для отездасоседнего элемента*/ */
/*   display: flex; */
  flex-direction: column;
  min-width: 780px;
/*   min-height: 295px; */

}

.post {
/*   box-sizing: border-box; */
  border: 1px solid red;
  width: 100%; /*766*/
  height: 350px;
/*   height: 100%; */
/*   padding-bottom: 90px; */
}

.picture {
  width: 380px; /*380*/
  height: 295px; /*294*/
  float: left;
  margin-right: 30px; /*20 между картинкой и текстом*/
  margin-bottom: 60px;
}

.tegs {
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  color: #b59f5b;
}

.post__title {
  font-size: 20px;
  line-height: 24px;
}

.autor__data {
  font-size: 12px;
  line-height: 40px;
}

.main__text {
  font-size: 15px;
  line-height: 22px;
}

.date {
  font-size: 12px;
  line-height: 40px;
  color: #888888;
}

/* ------------------------------------------------параметры левой части */

.new__posts {
  border: 1px solid black;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
/*   width: 290px; */
/*   height: 1000px; */
/*   text-align: center; работает но на все элементы*/
/*   min-width: 275px; */
}

.new__post {
  border: 1px solid blue;
  width: auto;
  height: 120px;
}

.mini_picture {
  width: 70px; /*70*/
  height: 70px; /*70*/
  float: left;
  margin-right: 20px; /*20*/
  margin-bottom: 20px;
}

.additional__text {
  font-size: 14px;
  line-height: 18px;
}

/* -----------------------------------------------параметры правой части */

.aside {
  display: flex;
  flex-direction: column;
/*   width: 100%; */
/*   height: 300px; */
  border: 1px solid green;

}

.search {
  display: inline;
  align-items: center;
/*   width: 100%; */
/*   height: 50px; */
/*   border: 1px solid yellow; */
/*   align-items: center; */
}

.field {
  box-sizing: border-box;
  width: 224px;
  height: 50px;
  background-color: #f4f7f6;
  border: none;
}

.button {
  border: none;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  background-color: #b59f5b;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;

}

.emails {
  display: block;
  width: 100%;
/*   height: 180px; */
  border: 1px solid yellow;

}

.email {
  box-sizing: border-box;
  background-color: #f4f7f6;
  width: 275px;
  height: 50px;
}

.button__sub {
  margin-top: 17px;
  width: 275px;
  height: 50px;
  background-color: #b59f5b;
  font-size: 14px;
  line-height: 40px;
  color: #fff;
  cursor: pointer;
  border: none;

/*   margin-left: 0;
  margin-right: 0; */
}

.tegs__other {
  width: 100%;
/*   height: 100px; */
  border: 1px solid yellow;

}

.thems {
  width: 100%;
  /*   height: 180px; */
  border: 1px solid yellow;

}

.menu-list__thems {
  list-style-type: none;
}

.menu-link__thems {
  text-decoration: none;
}

.up {
  text-transform: uppercase;
}

/* -----------------------------------------------конец основной части */

.footer {
/*   display: flex;
  margin: 50px; */
}

.social {

  width: 800px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 75px; /*74*/
  background-color: #f4f7f6;
  text-align: center;
}

.social__icon {
  width: 30px;
  height: 30px;

}

.copyright {

  width: 800px;
/*   margin-top: 50px; */
  margin-left: auto;
  margin-right: auto;
  height: 75px; /*74*/
/*   background-color: pink; */
  text-align: center;

}
