.model {
    width: 400px;
    height: 400px;
    padding: 20px;
    border: 1px solid black;
    position: relative;
}

.content {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid green;
}